.DS_Store
*.pyc
*.pkl
*.npy
__pycache__
citydata.tar.gz
cleansed_data.tar.gz
processed_data.tar.gz
qualification/season_1/test_set_1/*
qualification/season_1/training_data/*
qualification/season_1/cleansed_data/*
qualification/season_1/processed_data/*
qualification/season_1/src/tools/district_mapping.py
qualification/season_1/src/tools/order_driver_passenger_mapping.py
